<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmZ9AHG99abWWTAViav8eNBEq4xFcy-4o</string>
	<key>GCM_SENDER_ID</key>
	<string>1052346217834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WeatherApp</string>
	<key>PROJECT_ID</key>
	<string>wheatherapp-7f044</string>
	<key>STORAGE_BUCKET</key>
	<string>wheatherapp-7f044.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052346217834:ios:f513e2b1abf65e12d56113</string>
	<key>DATABASE_URL</key>
	<string>https://wheatherapp-7f044-default-rtdb.firebaseio.com</string>
</dict>
</plist>