<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Video Access.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Gallery Access.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>helvetica_bold.ttf</string>
		<string>helvetica_medium.ttf</string>
		<string>helvetica_regular.ttf</string>
		<string>helvetica_semibold.ttf</string>
		<string>nunitosans_black.TTF</string>
		<string>nunitosans_bold.TTF</string>
		<string>nunitosans_extrabold.TTF</string>
		<string>nunitosans_regular.TTF</string>
		<string>nunitosans_semibold.TTF</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
